.navigation-web {
  justify-content: unset;

  a {
    margin: 0 5px;
  }
}


@media(max-width: 1400px) {
  .navigation-web .icon {
    width: 30px;
    height: 46px;
    background-size: 30px 46px;
    margin-top: 18px;
  }

}

@media(max-width: 1160px) {
  .navigation-web .icon {
    display: none;
  }

}


@media (max-width: 1400px) {
  .navigation-web {
    display: flex;
  }
}


@media(max-width: 1400px) {
  .sites-menu {
    width: unset !important;
    justify-content: unset !important;

    a {
      div {
        width: 30px !important;
        height: 46px !important;
        background-size: 30px 46px !important;
        margin-top: 18px !important;
        margin: 0 5px;
      }
    }
  }
}


.mobile-icons {
  display: flex;
  justify-content: center;
  max-with: 300px;
  display: flex;
  justify-content: center;

  a {
    div {
      width: 40px;
      height: 61px;
      margin: 0 3px;
    }

    .news {
      background-image: url(../img/home_news.svg);
    }

    .history {
      background-image: url(../img/home_archive.svg);
    }

    .icon-egram {
      background-image: url(../svg/home_eg.svg);
    }

    .icon-inpo {
      background-image: url(../svg/home_info.svg);
    }

    .icon-fb {
      background-image: url(../svg/home_fb.svg);

    }

    .icon-video {
      background-image: url(../svg/home_video.svg);

    }
  }
}

.section-lecture.enol-registration {
  align-items: flex-end;
  height: calc(100vh - 120px) !important;
  @media(max-width: 700px) {
    background-size: cover !important;
    max-height: 780px;
  }
}

.enter-quiz.menu {
  top: 80px;
}

.mobile-menu {
  height: 220px;
}

.login-menu {
  transform: translateY(162px);
}


.header-hover.countdown {
  transform: translate(6%, -23%);
  width: 320px;
}

.enol.enol-registration {
  background-image: url("/img/enol-header_2020.jpg");
  background-size: cover;
  //height: 100vh !important;
  @media (max-width: 1100px) {
    background-image: url("/img/enol-header-mobile_2020.jpg");
    background-position: top;
  }

  @media (max-width: 700px) {
    height: calc(100vh - 120px) !important;
    max-height: unset !important;
  }
}

.registration-text.lecture-wrap {
  background-color: #bf946d;
  height: auto;
  padding: 75px 200px;
  width: 100%;
  @media (max-width: 1300px) {

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  @media (max-width: 1100px) {
    //display: none;
    padding: 25px;
  }

  margin: 0;
  position: relative;
  //max-width: 920px;
  display: flex;
  align-items: center;

  .col-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    @media (max-width: 1300px) {

      width: 100%;
    }

    h3 {
      font-size: 23pt;
      color: #fefefe;
      //191, 148, 109
      //background: rgba(255, 255, 255, .8);
      //color: rgba(0, 0, 0, .8);
      text-align: left;
      font-family: urban-grotesque-semi-bold;
      //transform: translateY(-250px);
      @media (max-width: 1300px) {
        font-size: 18pt;
        text-align: center;
      }
    }


    p {
      @media (max-width: 1300px) {
        font-size: 12pt;
        text-align: center;
      }
      text-align: left;
      font-size: 17pt;
      color: #fefefe;
      //position: absolute;
      //bottom: 0;
      margin-bottom: 0;


      @media (max-width: 1300px) {
        margin-bottom: 30px;
      }
    }

  }

  .col-button {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 1300px) {
      width: 100%;
      justify-content: center;
    }

    a {
      text-decoration: none;
      color: #fefefe;
      font-size: 30px;
      font-family: urban-grotesque-regular;
    }

    .button {
      padding-top: 5px;
      margin-bottom: 0 !important;
      width: 300px;
      height: 80px;
      border-radius: 50px;
      //background-color: #fefefe;
      background: rgba(255, 255, 255, .15);
      //opacity: 0.15;
      border: 2px solid #fefefe;
      justify-content: center;
      display: flex;
      align-items: center;

      @media (max-width: 1100px) {
        width: 230px;
        height: 40px;
        font-size: 20px;
        padding-top: 0;
      }

    }
  }
}

.questions-wrap div.active {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.questions-wrap a.active {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.questions-wrap div {
  padding: 0 4px;
}

.questions-wrap a {
  padding: 0 4px;
}

.questions-wrap a.active:after, .questions-wrap div.active:after {
  width: 80px !important;
  height: 80px !important;
  top: -8px !important;
  left: -24px !important;
}

.questions-wrap a.active:nth-child(n+10):after, .questions-wrap div.active:nth-child(n+10):after {
  left: -11px !important;
}

.questions-wrap a.active.done:nth-child(n+10):before, .questions-wrap div.active.done:nth-child(n+10):before {
  transform: translate(18px, 10px) !important;
}

.questions-wrap a.active.done:before, .questions-wrap div.active.done:before {
  transform: translate(7px, 10px);
}

.questions-wrap a.done:before, .questions-wrap div.done:before {
  background-color: #6d8cc3 !important;
}

.navigation.bottom .questions-wrap .done:before {
  background-color: #e0e0e0 !important;
}

body.quiz {
  padding-bottom: 20px;
}

.question {
  font-size: 18px;
}

.question-wrap img {
  width: 100%;
}

#question15 {
  img {
    padding: 0;
    width: 50%;
  }
}

.modal-backdrop.fade {
  opacity: 0.3 !important;
}

[data-question-id="16"] {
  width: 82% !important;
}

[data-question-id="19"], [data-question-id="20"] {
  width: 60% !important;
}

[data-question-id="30"] {
  width: 70% !important;
}

[data-question-id="21"] {
  width: 80% !important;
}

@media(max-width: 560px) {
  .dates-wrap .date-wrap {
    max-width: 250px !important;
  }
}

.dates-wrap .date-wrap {
  max-width: unset !important;
}

.enol-light .wrap .enol-schema {
  width: 783px !important;
}

@media (max-width: 1000px) {
  .enol-light .wrap .enol-schema {
    width: 265px !important;
    background-size: 265px !important;
  }
}

.enol-light .wrap .enol-schema {
  background-image: url("../img/enol_infografika_2020.svg") !important;
}

@media (max-width: 1000px) {
  .enol-light .wrap .enol-schema {
    background-image: url("../img/enol_infografika_mobile_2020.svg") !important;
  }
}

.questions-wrap a.done.wrong:before, .questions-wrap div.done.wrong:before {
  background-color: #a44f4a !important;
}

.questions-wrap a.done.correct:before, .questions-wrap div.done.correct:before {
  background-color: #638e60 !important;
}

.enol-gasnet {
  background-image: url("../img/gasnet.jpg");
  background-size: 85px 69px;
  width: 85px;
  height: 69px;
}

.header-hover {
  transform: translate(1%, 113%) !important;
}


.dash .modal-backdrop.show {
  background-color: #6585c2 !important;
  opacity: 0.95 !important;
}

.efekt-logo {
  background-image: url("../img/logo-efekt.png");
  background-size: 191px 93px;
  width: 191px;
  height: 93px;
}

.vesmir-logo {
  background-image: url("../img/vesmir.jpg");
  background-size: 191px 41px;
  width: 191px;
  height: 41px;
}

.section-troubleshooting {
  padding: 0 15%;
  background-image: url("../img/hotline_BG_011019.jpg") !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  ul {
    list-style: none;
    text-align: center;
    font-size: 32px;
    li:before {
      background: url("../img/phone.svg") no-repeat left 5px;
      padding-left: 1em;
      width: 35px;
      height: 35px;
      transform: translate(-140%, 25%);
      background-size: 32px 32px;
      content: ("");
      position: absolute;
    }
  }
  h3 {
    font-size: 36px;
    font-family: urban-grotesque-bold;
  }

  p {
    font-size: 20px;
    font-family: urban-grotesque-regular;
  }
}

section.final {
  display: flex;
  justify-content: center;
  padding: 35px 0;
}

.countdown {
  display: flex;
  justify-content: center;
}

.final a {
  text-decoration: none;
}

section.final .box {
  width: 250px;
  height: 250px;
  background: rgb(218,219,218);
  background: linear-gradient(0deg, rgba(218,219,218,1) 0%, rgba(255,255,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  padding-top: 10px;
  .stripe {
    background-color: #eeeeee;
    width: 100%;
    font-family: 'urban-grotesque-italic';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
  }
  p {
    font-size: 19px;
    padding-top: 5px;
  }
  p, .stripe {
    text-align: center;
    padding-top: 5px;
    margin-bottom: 15px;
  }
}

section.final .icon {
  width: 72px;
  height: 72px;
  margin: 0 auto;
}

.box .title {
  font-family: 'urban-grotesque-semi-bold';
}

#box-documents .icon {
  background-image: url("../img/button-dokumenty.svg");
}
#box-lectures .icon {
  background-image: url("../img/button-prednasky.svg");
}
#box-finale .icon {
  background-image: url("../img/button-vyhlaseni.svg");
}



section.final .box.active {
  background: rgb(22,51,3);
  background: linear-gradient(0deg, rgba(22,51,3,1) 0%, rgba(101,144,98,1) 100%);
  color: white;
  .stripe {
    background-color: #628e5f;
  }
}

#box-documents.active .icon {
  background-image: url("../img/button-dokumenty_active.svg");
}
#box-lectures.active .icon {
  background-image: url("../img/button-prednasky_active.svg");
}
#box-finale.active .icon {
  background-image: url("../img/button-vyhlaseni_active.svg");
}

section.stream {
  height: 100vh;
  background-color: black;
}