.navigation-web {
  justify-content: unset;

  a {
    margin: 0 5px;
  }
}


@media(max-width: 1400px) {
  .navigation-web .icon {
    width: 30px;
    height: 46px;
    background-size: 30px 46px;
    margin-top: 18px;
  }

}

@media(max-width: 1160px) {
  .navigation-web .icon {
    display: none;
  }

}


@media (max-width: 1400px) {
  .navigation-web {
    display: flex;
  }
}


@media(max-width: 1400px) {
  .sites-menu {
    width: unset !important;
    justify-content: unset !important;

    a {
      div {
        width: 30px !important;
        height: 46px !important;
        background-size: 30px 46px !important;
        margin-top: 18px !important;
        margin: 0 5px;
      }
    }
  }
}


.mobile-icons {
  display: flex;
  justify-content: center;
  max-with: 300px;
  display: flex;
  justify-content: center;

  a {
    div {
      width: 40px;
      height: 61px;
      margin: 0 3px;
    }

    .news {
      background-image: url(../img/home_news.svg);
    }

    .history {
      background-image: url(../img/home_archive.svg);
    }

    .icon-egram {
      background-image: url(../svg/home_eg.svg);
    }

    .icon-inpo {
      background-image: url(../svg/home_info.svg);
    }

    .icon-fb {
      background-image: url(../svg/home_fb.svg);

    }

    .icon-video {
      background-image: url(../svg/home_video.svg);

    }
  }
}

.section-lecture.enol-registration {
  align-items: flex-end;
  height: calc(100vh - 120px) !important;
  @media(max-width: 700px) {
    background-size: cover !important;
    max-height: 780px;
  }
}

.enter-quiz.menu {
  top: 80px;
}

.mobile-menu {
  height: 220px;
}

.login-menu {
  transform: translateY(162px);
}


.header-hover.countdown {
  transform: translate(6%, -23%);
  width: 320px;
}

.enol.enol-registration {
  background-image: url("/img/enol-header_2020.jpg");
  background-size: cover;
  //height: 100vh !important;
  @media (max-width: 1100px) {
    background-image: url("/img/enol-header-mobile_2020.jpg");
    background-position: top;
  }

  @media (max-width: 700px) {
    height: calc(100vh - 120px) !important;
    max-height: unset !important;
  }
}

.registration-text.lecture-wrap {
  background-color: #bf946d;
  height: auto;
  padding: 75px 200px;
  width: 100%;
  @media (max-width: 1300px) {

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  @media (max-width: 1100px) {
    //display: none;
    padding: 25px;
  }

  margin: 0;
  position: relative;
  //max-width: 920px;
  display: flex;
  align-items: center;

  .col-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    @media (max-width: 1300px) {

      width: 100%;
    }

    h3 {
      font-size: 23pt;
      color: #fefefe;
      //191, 148, 109
      //background: rgba(255, 255, 255, .8);
      //color: rgba(0, 0, 0, .8);
      text-align: left;
      font-family: urban-grotesque-semi-bold;
      //transform: translateY(-250px);
      @media (max-width: 1300px) {
        font-size: 18pt;
        text-align: center;
      }
    }


    p {
      @media (max-width: 1300px) {
        font-size: 12pt;
        text-align: center;
      }
      text-align: left;
      font-size: 17pt;
      color: #fefefe;
      //position: absolute;
      //bottom: 0;
      margin-bottom: 0;


      @media (max-width: 1300px) {
        margin-bottom: 30px;
      }
    }

  }

  .col-button {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 1300px) {
      width: 100%;
      justify-content: center;
    }

    a {
      text-decoration: none;
      color: #fefefe;
      font-size: 30px;
      font-family: urban-grotesque-regular;
    }

    .button {
      padding-top: 5px;
      margin-bottom: 0 !important;
      width: 300px;
      height: 80px;
      border-radius: 50px;
      //background-color: #fefefe;
      background: rgba(255, 255, 255, .15);
      //opacity: 0.15;
      border: 2px solid #fefefe;
      justify-content: center;
      display: flex;
      align-items: center;

      @media (max-width: 1100px) {
        width: 230px;
        height: 40px;
        font-size: 20px;
        padding-top: 0;
      }

    }
  }
}

.questions-wrap div.active {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.questions-wrap div {
  padding: 0 4px;
}

.questions-wrap a.active:after, .questions-wrap div.active:after {
  width: 80px !important;
  height: 80px !important;
  top: -8px !important;
  left: -24px !important;
}

.questions-wrap a.active:nth-child(n+10):after, .questions-wrap div.active:nth-child(n+10):after {
  left: -11px !important;
}

.questions-wrap a.active.done:nth-child(n+10):before, .questions-wrap div.active.done:nth-child(n+10):before {
  transform: translate(18px, 10px) !important;
}

.questions-wrap a.active.done:before, .questions-wrap div.active.done:before {
  transform: translate(7px, 10px);
}

.questions-wrap a.done:before, .questions-wrap div.done:before {
  background-color: #6d8cc3 !important;
}

.navigation.bottom .questions-wrap .done:before {
  background-color: #e0e0e0 !important;
}

body.quiz {
  padding-bottom: 20px;
}

.question {
  font-size: 18px;
}